.product-container {
    text-align: left;
    border: 1px, solid, #ccc;
    display: block;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
    border-radius: 5px;
}
.banner {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.description {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
 }
 .text {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 350px;
 }
 .price {
    font-size: 30px;
    margin-left: 20px;
 }

 .value {
    font-size: 20px;
 }

 .button {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 30px;
 }
